@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "articles";

body{
    background-image: url(diary_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}