// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.margin-top-5per{
  margin-top:  5%;  
  
}

.tiltle{
  font-size: 15px;
}
 
.article-block{
  background-color: white;
  border: 1px solid #BBBBBB;
}

.padding-top-15{
  padding-top: 15px;
}

.padding-bottom-15{
  padding-bottom: 15px;
}

a {
  color:#666666;
}

.article-image{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.article-list-image{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#cover-image{
  cursor: pointer
}

.relative{
  position: relative;
  i {
    position: absolute;
    top: 42%;
    left: 48%;
    font-size: 70px;
  }
  
}

#article_image{
    display: none;
  }
  
// ナビゲーション
.navbar{
  background-color: #56e4dd;
  border-color: white;
}

.navbar-brand{
    font-size: 25px;
}

.navbar-inverse{
  background-color: #56e4dd;
  color: white;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-toggle{
    border-color: white;
}

